*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-content{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
}



/* nav-bar */

header{
    background-color: #1A0B2E;
    padding: 1rem 0;
    border-bottom: 5px solid rgba(65, 37, 103, 1);
}

header nav .nav-section{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    align-items: center;

}

header nav .nav-section h2{

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 2rem;
    color: white;

}

header nav .nav-section h2 .logo-grad{

    background: linear-gradient(
    135deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


header nav .nav-section ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

header nav .nav-section ul li{
    
    list-style: none;
}

header nav .nav-section ul li a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: Medium;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    color: #ffffff;
}

header nav .nav-section .nav-btn{
    display: flex;
    justify-content: flex-end;
}


 .btn{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    width: 135px;
    height: 44px;
    border:none;
    border-radius: 1000px;
    gap: 0.4rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

/* banner */

#banner{
    background: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6.93rem 0;
    
}

#banner .banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner .banner-content .banner-img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 22vw;
    max-width: 352px;
    border: 2px solid greenyellow;
    
}

#banner .banner-content .banner-img img{
    width: 100%;
    height: auto;
    display: block;
}


#banner .banner-content .banner-img .banner-inner-img{
    position: absolute;
    border: 2px solid powderblue;
    display: flex;
    align-items: center;
    justify-content: center;

}

#banner .banner-content .banner-img .banner-inner-img img{
    width: 100%;
    height: auto;
    display: block;
    border: 2px solid greenyellow;
}

#banner .banner-content .banner-heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


#banner .banner-content .banner-heading h2{
    color: rgba(255, 255, 255, 1);
    font-family: "Inter", sans-serif;
    font-size: 3.75vw;
    font-weight: 800;
    text-transform: capitalize;
    margin-top: 2.5rem;
}

#banner .banner-content .banner-heading p{

    color: rgba(255, 255, 255, 1);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    margin: 1.5rem 0;

}

#banner .banner-content .banner-heading .banner-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#banner .banner-content .banner-heading .banner-btn .btn{
    width: 201px;
    height: 44px;
}

#banner .banner-content .banner-heading .banner-btn .btn2{
    
width: 147px;
height: 44px;
display: flex;
align-items: center;
justify-content: center;
gap: 0.5rem;
border: 1px solid rgba(0, 255, 136, 1);
background-color: transparent;
color:  rgba(0, 255, 136, 1);
border-radius: 1000px;
font-family:  "Inter", sans-serif;
font-size: 1rem;
font-weight: 600;


}







