*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-content{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
}



/* nav-bar */

header{
    background-color: #1A0B2E;
    padding: 1rem 0;
    border-bottom: 2px solid rgba(65, 37, 103, 1);
}

header nav .nav-section{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    align-items: center;

}

header nav .nav-section h2{

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 2rem;
    color: white;

}

header nav .nav-section h2 .logo-grad{

    background: linear-gradient(
    135deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


header nav .nav-section ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

header nav .nav-section ul li{
    
    list-style: none;
}

header nav .nav-section ul li a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: Medium;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    color: #ffffff;
}

header nav .nav-section .nav-btn{
    display: flex;
    justify-content: flex-end;
}


 .btn{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    width: 135px;
    height: 44px;
    border:none;
    border-radius: 1000px;
    gap: 0.4rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

/* banner */

#banner{
    background: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6.93rem 0;
    
}

#banner .banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner .banner-content .banner-img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 22vw;
    max-width: 352px;
    
}

#banner .banner-content .banner-img h5{

    position: absolute;
    z-index: 1;
    background-color: rgba(0, 255, 136, 1);
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;

    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.125rem;

    top: 10%;
    right: 10%;

}


#banner .banner-content .banner-img img{
    width: 100%;
    height: auto;
    display: block;
}


#banner .banner-content .banner-img .banner-inner-img{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}

#banner .banner-content .banner-img .banner-inner-img img{
    width: 100%;
    height: auto;
    display: block;
}

#banner .banner-content .banner-heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


#banner .banner-content .banner-heading h2{
    color: rgba(255, 255, 255, 1);
    font-family: "Inter", sans-serif;
    font-size: 3.75vw;
    font-weight: 800;
    text-transform: capitalize;
    margin-top: 2.5rem;
}

#banner .banner-content .banner-heading p{

    color: rgba(255, 255, 255, 1);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    margin: 1.5rem 0;

}

#banner .banner-content .banner-heading .banner-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#banner .banner-content .banner-heading .banner-btn .btn{
    width: 201px;
    height: 44px;
}

#banner .banner-content .banner-heading .banner-btn .btn2{
    
width: 147px;
height: 44px;
display: flex;
align-items: center;
justify-content: center;
gap: 0.5rem;
border: 1px solid rgba(0, 255, 136, 1);
background-color: transparent;
color:  rgba(0, 255, 136, 1);
border-radius: 1000px;
font-family:  "Inter", sans-serif;
font-size: 1rem;
font-weight: 600;


}



/* about */

#about{
    background-color: rgba(26, 11, 46, 1);
}

#about .about-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


#about .about-section .about-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.1rem;
    padding: 3.2rem 0 5rem;
}


#about .about-section .about-title h2{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #FFFFFF;
}

#about .about-section .about-title p{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF;
}

#about .about-section .about-title #space{

    margin-top: 2rem;
}

#about .about-section .about-rating{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5rem 0 7.5rem;

    border-top: 0.5px solid rgba(255, 255, 255, 0.315);
}


#about .about-section .about-rating .about-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.1rem;
}


#about .about-section .about-rating .about-box h3{
     font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color: #00FF88;
}


#about .about-section .about-rating .about-box #rating-sub{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF;
}

/* cards */

#choose{
    background-color: rgba(35, 14, 61, 1);
}

#choose .choose-section{

    padding: 7.5rem 0;
}

#choose .choose-section .choose-title{

    text-align: center;
    margin-bottom: 2.5rem;
}

#choose .choose-section .choose-title h2{

    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #FFFFFF;

}

#choose .choose-section .card-container{

    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    gap: 1.875rem;

}


#choose .choose-section .card-container .card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 2.5rem;
    background-color:rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    
}

.grid-tall{
    grid-row: span 2;
}

.grid-long{
    grid-column: span 2;
}


#choose .choose-section .card-container .card h4{

    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFFFFF;
}

#choose .choose-section .card-container .card p{

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff60;
}



/* episodes */

#episodes{
    background-color: rgba(26, 11, 46, 1);
}

#episodes .episode-section{
    padding: 7.5rem 0;
}
#episodes .episode-section .episode-title{
    text-align: center;
    margin-bottom: 2.5rem;
}

#episodes .episode-section .episode-title h2{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #FFFFFF;
}


#episodes .episode-section .episode-cards{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 1.875rem;
}

#episodes .episode-section .episode-cards .card{
    display: flex;
    flex-direction: column;
    background-color:rgba(37, 13, 68, 1);
    border-radius: 1.5rem;
}

#episodes .episode-section .episode-cards .card .card-img {


    position: relative;
    aspect-ratio: 16 / 9;



}

#episodes .card-img .card-banner {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


#episodes .episode-section .episode-cards .card .card-img .card-play{
    position: absolute;
    right: 45%;
    top: 40%
}

#episodes .episode-section .episode-cards .card .card-body{
    padding:  1.5rem;
    display: grid;
    grid-template-rows: repeat(2 , 1fr);
    gap: 1rem;
}


#episodes .episode-section .episode-cards .card .card-body .card-text{

    display: flex;
    flex-direction: column;
    height: 8em;
    justify-content: space-around ;
}


#episodes .episode-section .episode-cards .card .card-body h3{

    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFFFFF;

}


#episodes .episode-section .episode-cards .card .card-body p{

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff38;
}

#episodes .episode-section .episode-cards .card .card-body .card-timer{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-top: auto;
}

#episodes .episode-section .episode-cards .card .card-timer h5{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color:rgba(0, 255, 136, 1);
}


/* host */

#host{
    background-color: rgba(26, 11, 46, 1);
    padding:  7.5rem;
    
}


#host .host-section{
    
}

#host .host-section .host-title {
    text-align: center;
}

#host .host-section .host-title h2{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 2.5rem;
}

#host .host-section .host-body{
    border-radius: 1.5rem;
    background-color: rgba(53, 17, 101, 0.4);
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    align-items: start;
    padding:  1.5rem ;
}


.host-tall{
    grid-row: span 3;
}

.host-long{
    grid-column: span 3;
}


#host .host-section .host-body img{
    object-fit: cover;
    height: 100%;

}

#host .host-section .host-body h3{

    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF;
}

#host .host-section .host-body p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.664);
}

#host .host-section .host-body ul{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    
}

#host .host-section .host-body ul li{
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid rgba(83, 60, 114, 1);
    padding: 0.8rem;
    list-style: none;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}


/* footer */

footer{
    background: url(../assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7.5rem;
}

footer .footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer .footer-content h1{

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 3.75rem;
    color: white;

}

footer .footer-content h1 .footer-title{

     background: linear-gradient(
    135deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


footer .footer-content ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin: 2rem 0 2rem;
}

footer .footer-content ul li{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

}

footer .footer-content ul li p, footer .footer-content p
{

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.541);

}



